<!-- <div class="login-box">
<h2 style="color: black;"><%=@user.username%>'s Profile</h2>
<%= form_tag update_profile_path, :method => :put do %>
  <%= label :user, :phone, 'Phone Number', :class => 'col-form-label' %>
  <%= text_field :user, 'phone', :class => 'form-control' %>
  <%= label :user, :address, 'Address', :class => 'col-form-label' %>
  <%= text_field :user, 'address', :class => 'form-control' %>
  <%= label :user, :description, 'Self Introduction', :class => 'col-form-label' %>
  <%= text_field :user, 'description', :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Update Personal Profile', :class => 'button-80' %>
  <div style="float: right;">
  <%= link_to 'Cancel', profile_path, :class => 'button-80' %>
  </div>
<% end %>
</div>

 -->





<h4 class="page-title"><%=@user.username%>'s Profile</h4>

<div class="form-container">
  <%= form_tag update_profile_path, :method => :put do%>
    <div class="mb-3">
      <%= label :user, :phone, 'Phone Number', :class => 'col-form-label' %>
      <%= text_field :user, 'phone', :class => 'form-control', :placeholder => 'Enter your phone number here', :required => true %>
    </div>
    <div class="mb-3">
      <%= label :user, :address, 'Address', :class => 'col-form-label' %>
      <%= text_field :user, 'address', :class => 'form-control', :placeholder => 'Enter your address here', :required => true %>
    </div>
    <div class="mb-3">
      <%= label :user, :description, 'Bio', :class => 'col-form-label' %>
      <%= text_area :user, 'description', :class => 'form-control', :placeholder => 'Enter a short bio about yourself here'%>
    </div>
    <br/>
    <%= submit_tag 'Update Personal Profile', :class => 'btn btn-outline-info' %>
    <div style="float: right;">
    <%= link_to 'Cancel', profile_path, :class => 'btn btn-outline-secondary' %>
    </div>
  <% end %>
</div>