<h1><%=@user.username%>'s Profile</h1>

Name: <%= @user.username %>
<br>
Email: <%= @user.email %>
<br>
Phone Number: <%= @user.phone %>
<br>
Address: <%= @user.address %>
<br>
Self Introduction: <%= @user.description %>

<br><br>
<%= link_to "Back to homepage", '/posts'%>
<br>
<%= link_to "Update your profile", edit_profile_path %>
<br>
<%= link_to "Log out", '/logout', method: :delete %>
<br><br>

<h3>Your Posts</h3>
<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Post Title</th>
      <th>Category</th>
      <th>Author</th>     
      <th>Created Date</th>
      <th>Last Updated</th>

      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= post.title %>
        </td>
        <td>
          <%= post.category %>
        </td>
        <td>
          <%= post.author %>
        </td>
        <td>
          <%= post.created_at %>
        </td>
        <td>
          <%= post.updated_at %>
        </td>
        
        <td>
          <%= link_to "More about #{post.title}", post_path(post) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>