<!--  app/views/users/show.html.erb -->


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/jquery.barrating.min.js"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>-->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                <h1 class="text-white fs-3 fw-bolder"><%=@user.username%>'s Profile</h1>
            </div>
        </header>
        <div style="width: 90%; padding-left: 5%">
        <br>
        <div class="container px-6 px-lg-5">
          <h2>Personal Information</h2><br>
          <p class="lead" id='running_rating'>Rating: <span style="font-weight: bold;"><%= @user_rating %></span> / 5.0</p>
          <p class="lead">Email: <%= @user.email %></p>
          <p class="lead">Phone Number: <%= @user.phone %></p>
          <p class="lead">Address: <%= @user.address %></p>
          <p class="lead">Self Introduction: </p>
          <p class="mb-0"><%= @user.description %></p>

          <br>
          
          <%= link_to "Back to homepage", '/posts', :class => 'btn btn-outline-dark'%>
          <% if @user.id.to_s == @current_user_id.to_s %>
          <%= link_to "Update your profile", edit_profile_path , :class => 'btn btn-outline-info'%>
          <% end %>
          <%= link_to "Log out", '/logout', method: :delete , :class => 'btn btn-outline-danger'%>
        </div>

<br><br></div><br>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 10rem"></div>
        </div>

        <div style="width: 90%; padding-left: 5%">
<br><br>
        <div class="deals_table container px-6 px-lg-5">
        <h3 class="profile-title">Your Posts</h3>
        <table class="table table-hover" id="movies">
          <thead>
            <tr>
              <th scope="col">Post Title</th>
              <th scope="col">Category</th>
              <th scope="col">Author</th>     
              <th scope="col">Created Date</th>
              <th scope="col">Last Updated</th>
        
              <th>More Info</th>
              <th>Offshelf</th>
            </tr>
          </thead>
          <tbody style="float:center;">
            <% @posts.each do |post| %>
              <tr>
                <td style="font-weight: bold;">
                  <%= post.title %>
                </td>
                <td>
                  <%= post.category %>
                </td>
                <td>
                  <%= post.author %>
                </td>
                <td>
                  <%= post.created_at %>
                </td>
                <td>
                  <%= post.updated_at %>
                </td>
                
                <td>
                  <%= link_to "More about #{post.title}", post_path(post) %>
                </td>
                <td>
                  <% if post.onshelf == 1 %>
                    <%= button_to "Offshelf", delete_post_path(post), :class => 'btn btn-outline-danger', :method =>:delete %>
                  <% else %> 
                    <%= button_to "Offshelfed", delete_post_path(post), :class => 'btn btn-outline-secondary', :disabled => true, :method =>:delete %>
                  <% end %>
                  
                </td>
              </tr>
            <% end %>
          </tbody>
        </table><br>
        
        
        <h3 class="profile-title">You Want to Purchase:</h3>
        <% if @purchase_deals.length() == 0 %>
        <p>None</p>
        <% else %> 
        <table class="table table-striped col-md-12" id="your_request">
          <thead>
            <tr>
              <th>Post Title</th>
              <th>Status</th>
              <th>Seller Name</th>
              <th>Request At</th>
              <th>Rating</th>
              <th>Cancel</th>
            </tr>
          </thead>
          <tbody>
            <% @purchase_deals.each do |deal| %>
              <tr>
                <td style="font-weight: bold;">
                  <%= deal.title %>
                </td>
        
                <td>
                  <%= deal.status %>
                </td>
                <td>
                  <%= deal.seller_name %>
                </td>
                <td>
                  <%= deal.created_at %>
                </td>
                <td>
                  <% if deal.rating != -1 %>
                    <%= deal.rating %>
                  <% else %> 
                    Unrated
                  <% end %>
                </td>
                <td>
                  <%= button_to "X", cancel_deal_path(deal), :class => 'btn btn-outline-danger', :method =>:delete %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% end %><br>
        
        <h3 class="profile-title">Purchase Request Made to You</h3>
        <% if @selling_deals.length() == 0 %>
        <p>None</p>
        <% else %> 
        <table class="table table-striped col-md-12" id="request_to_you">
          <thead>
            <tr>
              <th>Post Title</th>
              <th>Status</th>
              <th>Buyer Name</th>
              <th>Request At</th>
              <th>Rating</th>
              <th>Accept</th>
            </tr>
          </thead>
          <tbody>
            <% @selling_deals.each do |deal| %>
              <tr>
                <td style="font-weight: bold;">
                  <%= deal.title %>
                </td>
                <td>
                  <%= deal.status %>
                </td>
                <td>
                  <%= deal.buyer_name %>
                </td>
                <td>
                  <%= deal.created_at %>
                </td>
                <td>
                  <% if deal.rating != -1 %>
                    <%= deal.rating %>
                  <% else %> 
                    Unrated
                  <% end %>
                </td>
                <td>
                  <%= button_to "☑️", accept_deal_path(deal), :class => 'btn btn-outline-success', :method =>:post %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
        <br>
        
        <h3 class="profile-title">Unrated Purchase From You</h3>
        <% if @unrated_deals.length() == 0 %>
        <p>None</p>
        <% else %> 
        <table class="table table-striped col-md-12" id="unrated">
          <thead>
            <tr>
              <th>Post Title</th>
              <th>Status</th>
              <th>Seller Name</th>
              <th>Dealed At</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            <% @unrated_deals.each do |deal| %>
              <tr>
                <td style="font-weight: bold;">
                  <%= deal.title %>
                </td>
                <td>
                  <%= deal.status %>
                </td>
                <td>
                  <%= deal.seller_name %>
                </td>
                <td>
                  <%= deal.updated_at %>
                </td>
                <td>
                <%= form_tag rate_deal_path(deal), :class => 'form rating-form' do %>
                  <div class="rating-system">
                    <%= select_tag(:rating, options_for_select([['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5']], '5'), :class => 'rating-select form-select form-select-sm', :required => true) %>
                    <%= submit_tag 'Save', :class => 'save-rating btn btn-outline-info' %>
                    <%= link_to 'Cancel', profile_path, :class => 'cancel-rating btn btn-outline-secondary' %>
                  </div>
                <% end %>
                </td>
        
              </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
        <br>
        
        
        <h3 class="profile-title">Past Involved Deals</h3>
        <% if @involved_deals.length() == 0 %>
        <p>None</p>
        <% else %> 
        <table class="table table-striped col-md-12" id="past_involved">
          <thead>
            <tr>
              <th>Post Title</th>
              <th>Status</th>
              <th>Buyer Name</th>
              <th>Seller Name</th>
              <th>Dealed At</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            <% @involved_deals.each do |deal| %>
              <tr>
                <td style="font-weight: bold;">
                  <%= deal.title %>
                </td>
                <td>
                  <%= deal.status %>
                </td>
                <td>
                  <%= deal.buyer_name %>
                </td>
                <td>
                  <%= deal.seller_name %>
                </td>
                <td>
                  <%= deal.updated_at %>
                </td>
                <td>
                  <% if deal.rating != -1 %>
                    <%= deal.rating %>
                  <% else %> 
                    Unrated
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
        </div>
      </div>
</body>
</html>

