<!-- <div class="login-box">
<h2 style="color: black;">Edit Your Post</h2>
<%= form_tag post_path(@post), :method => :put do %>
  <%= label :post, :title, 'Title', :class => 'edit-label' %>
  <%= text_field :post, 'title', :class => 'form-control' %>
  <%= label :post, :category, 'Category', :class => 'edit-label'  %>
  <%= select :post, :category, ['furniture','sublease'], {}, {:class => 'form-control form-control-lg'} %>
  <%= label :post, :content, 'Content', :class => 'edit-label' %>
  <%= text_area :post, 'content', :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Update Post Info', :class => 'button-80' %>
  <div style="float: right;">
  <%= link_to 'Cancel', posts_path, :class => 'button-80' %>
  </div>
<% end %>
</div>
 -->

<h4 class="page-title">Edit Your Post</h4>

<div class="form-container">
  <%= form_tag post_path(@post), :method => :put do %>
    <div class="mb-3">
      <%= label :post, :title, 'Title', :class => 'col-form-label' %>
      <%= text_field :post, 'title', :class => 'form-control', :placeholder => 'Enter your post title here', :required => true %>
    </div>
    <div class="mb-3">
      <%= label :post, :category, 'Category', :class => 'col-form-label' %>
      <%= select :post, :category, ['furniture','sublease'], {}, {:class => 'form-select form-select-lg', :required => true} %>
    </div>
    <div class="mb-3">
      <%= label :post, :content, 'Content', :class => 'col-form-label' %>
      <%= text_area :post, 'content', :class => 'form-control', :placeholder => 'Enter your post content here', :required => true %>
    </div>
    <br/>
    <%= submit_tag 'Update post info', :class => 'btn btn-outline-info' %>
    <div style="float: right;">
    <%= link_to 'Cancel', posts_path, :class => 'btn btn-outline-secondary' %>
    </div>
  <% end %>
</div>